#ElPotifay {

    margin: 20px auto;
    border: 10px solid black;
    width: 800px;
    height: 850px;

}

.ListaCancion {
    margin: 20px auto;
    border: 10px solid black;
    width: 750px;
    height: 600px;

}


.ElpotifayButtons {
    margin: 20px auto;
    border: 10px solid black;
    width: 400px;
    height: 100px;

}

